<h1>Articles</h1>

<%= link_to 'New article', new_article_path %>

<% @articles.each do |article|  %>
<h4><%= article.title %></h4>
<p><%= article.content %></p>
<%= link_to 'Read', article_path(article) %>
<% end  %>
